.landingPage {
  width: 1380px;
  height: 895px;
  padding: 0;
  margin: 0;
}
.textPrimary {
  position: absolute;
  left: 50%;
  top: 43%;
  display: block;
  letter-spacing: 8px;
  transform: translate(-50%, -50%);
  font-size: 95px;
  color: white;
  cursor: pointer;
}
.textPrimary::after {
  content: "VideoGame Henry";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(#b31111, #c41a1a);
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 0.5s;
}
.textPrimary:hover:before {
  top: 10px;
  left: 10px;
}
.textPrimary:hover:after {
  top: -10px;
  left: -10px;
}
