.landing-page {
  width: 1280px;
  height: 895px;
  padding: 0;
  margin: 0;
  background: black;
  background-position: 180px;
  background-size: 900px;
  background-image: url("https://i.postimg.cc/FKDqQQc6/game-01.jpg");
  background-color: black;
  background-repeat: no-repeat;
}
.text-primary {
  position: absolute;
  left: 48%;
  top: 40%;
  display: block;
  letter-spacing: 8px;
  transform: translate(-50%, -50%);
  font-size: 95px;
  color: white;
  cursor: pointer;
}

.text-primary::after {
  content: "VideoGame Store";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(#ede5ff, #3282B8);
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 0.5s;
}
.text-primary:hover:before {
  top: 10px;
  left: 10px;
}
.text-primary:hover:after {
  top: -10px;
  left: -10px;
}
