.searchBar {
  position: relative;
  margin: 1px 0 20px;
  width: 200px;
}
.searchBar input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
.searchBar input:focus,
.searchBar input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.searchBar label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.searchBar label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.searchBar input:focus + label span,
.searchBar input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

