.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.item {
  text-decoration: none;
  cursor: pointer;
  background: red;
  color: white;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 2px solid rgb(249, 247, 247);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em white;
  transition: 0.1s;
}
.item:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.07em 0.07em white;
}

.item:hover {
  background: rgb(183, 10, 10);
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em rgb(220, 220, 220);
}
