.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  list-style: none;
  font-size: 40px;
}

.item {
  margin-inline: 10px;
}

.item:hover {
    transition: 0.10s;
    cursor: pointer;
    color: red;
}
