body {
  background-size: 1280px;
  background-image: url(https://i.ibb.co/Bg3snj1/966314.jpg);
  background-position: static;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
