body {
  margin: 0%;
  padding: 0%;
  font-family: "Arcadia";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  letter-spacing: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
