.container {
  font-family: "Arcadia";
  display: grid;
  grid-template-columns: 40% 10% 10% 10% 10%;
  grid-template-rows: 100%;
  justify-content: center;
}
h1 {
  color: white;
}
.title {
  text-align: center;
}
.home {
  text-align: center;
}